<div ng-include="'components/navbar/navbar.html'"></div>
<!-- <div ng-include="'components/sidebar/sidebar.html'"></div> -->

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Create Shopping List</h1>

       <form class="form" name="form" ng-submit="createList(form)" novalidate>

        <div class="form-group" ng-class="{ 'has-success': form.listName.$valid && submitted,
                                            'has-error': form.listName.$invalid && submitted }">
          <label>Name</label>

          <input type="text" name="listName" class="form-control" ng-model="shopList.listName"
                 required/>
     
        </div>

        <div>
         
        </div>

      </form>
</div>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
<div class="panel panel-default">
  <div class="panel-heading"></div>
  <div class="panel-body">
  <table class="table">
    <tr ng-repeat="shop in completeShoppingList">
      <td>
        <div ng-show="!shop.active">
          <input type="checkbox" checked disabled ng-click="deactiveList(shop._id, $index)">
        </div>
         <div ng-show="shop.active">
          <input type="checkbox" ng-click="deactiveList(shop._id, $index)">
        </div>
      </td>
      <td ng-class="{strike: !shop.active}">{{shop.name}} </td>
      <td>
         <a class="remove-icon" href="#" ng-click="deleteList(shop._id, $index)">
            <span class="fa fa-remove fa-2x"></span>
          </a> 
      </td>
    </tr>
  </table>
  </div>
</div>

     
</div>

