.footer-row {
  background-color: #333;
  color: #F60;
  padding-bottom: 100px; 
  padding: 20px;
  margin-left: 0px;
  margin-right: 0px;
}

.footer-row ul {
  padding-left: 0px;
  list-style-type: none;
  padding-top: 10px;
  font-weight: 450;
}

.footer-row a, .footer-row a:focus, .footer-row a:hover {
   color: #fff;
   text-decoration: none;
}

.footer-sub-header {
    padding-top: 10px;
    border-top: 1px solid #eee;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 13px;
    padding-bottom: 10px;
}