<div class="row footer-row">
<div class="row">

  <div class="col-md-6">
    <h2>Company</h2>
    <ul>
      <li><a href="">About Us</a></li>
      <li><a href="">Contact Us</a></li>
      <li><a href="">Privacy Policy</a></li>
    </ul>
  </div>

  
  <div class="col-md-6 ">
    <h2>Follow Us</h2>
    <ul>
     <li><a href=""><i class="fa fa-twitter-square" style="font-size: 30px;"></i></a></li>
     <li><a href=""><i class="fa fa-facebook-square" style="font-size: 30px;"></i></a></li>
     <li><a href="">Blog</a></li>
    </ul>
  </div>
</div>
<div class="row footer-sub-header">© 2015 All rights reserved - ShoppingList®</div>
</div>
