    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          
          <ul class="nav nav-sidebar">

            <li>
              <a href="#" ng-click="redirectTo('/shoppinglist')"><span class="fa fa-desktop"></span> <span class="xn-text">Create List</span></a>                        
            </li>

            <li>
                <a href="#" ng-click="redirectTo('/viewshoppinglist')"><span class="fa fa-files-o"></span> <span class="xn-text">View List</span></a>
            </li>

                
          </ul>
        
         
        </div>