    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <img src="assets/images/users/ghost_person_200x200.png" class="img-circle img-responsive">
  
          <ul class="nav nav-sidebar">

            <li>
              <a href ng-click="value = 1"><span class="fa fa-desktop"></span> <span class="xn-text">Dashboard</span></a>                        
            </li>

            <li>
                <a href="#" ng-click="redirectTo('/orderlist')"><span class="fa fa-files-o"></span> <span class="xn-text">Customer Orders</span></a>
            </li>

             <li>
                        <a href ng-click="value = 1"><span class="fa fa-file-text-o"></span> <span class="xn-text">Collaboration Wall</span></a>
                        
                    </li>

                   <li>
                        <a href ng-click="value = 1"><span class="fa fa-sitemap"></span> <span class="xn-text">Groups</span></a>
                        
                    </li>      
                    
                     <li>
                        <a href ng-click="value = 1"><span class="fa fa-star"></span> <span class="xn-text">E-Profile</span></a>
                        
                    </li>        
          </ul>
        
         
        </div>